<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Chris Whitten">
    <title>Shorty, the simple url shortener</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <form class="form">
        <h2 class="form-url">UNLEASH THE POWER OF THE LINK</h2>
        <input type="url" id="inputUrl" class="form-control" placeholder="Paste a link to shorten it" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">SHORTEN</button>
      </form>
    </div>
  </body>
</html>